@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    /* background */
    --color-white: 255 255 255; /* white to flowbite-dark. used on: app */
    --color-white-inverted: 17 24 39;

    --color-gray100: 218 221 228;
    --color-gray100-inverted: 55 65 95;
    --color-gray100-hoover: 55 65 95;

    --color-gray200: 241 242 246;
    --color-gray200-inverted: 55 65 81;

    --color-gray300: 249 250 251; /* gray-50 to gray-800. used on: jobContainer */
    --color-gray300-inverted: 55 65 81; /* inverted */
    --color-gray300-hoover: 229 231 235; /* gray-300 to gray-700 hover */

    /* input */
    --color-input-gray: 249 250 251; /* gray-50 to gray-700. used on: inputs */

    /* Content/text */
    --color-content-black: 17 24 39;
    --color-content-black-inverted: 255 255 255;

    --color-content-gray: 107 114 128;
    --color-content-gray-inverted: 209 213 219;

    /* Accent */
    --color-accent-1: 224 237 253; /* light blue to indigo. used on: jobTypes */

    --color-accent-2: 67 56 202; /* indigo-500 to indigo-700 */
    --color-accent-201: 224 237 253;

    --color-accent-300: 79 70 229; /* indigo-700 to indigo-100 */
    --color-accent-310: 224 231 255;

    /* Border */
    --color-border-1: 209 213 219;
  }

  /* @media (prefers-color-scheme: dark) {
    :root {
      --color-bg-1: 00 00 00;
      --color-bg-2: 218 221 228;
      --color-content-1: 255 255 255;
      --color-content-2: 78 28 149;
      --color-accent-1: 107 43 217;
      --color-accent-2: 78 28 149;
    }
  } */

  [data-theme="dark"] {
    /* background */
    --color-white: 17 24 39;
    --color-white-inverted: 255 255 255;

    --color-gray300: 31 41 55;
    --color-gray300-inverted: 249 250 251;
    --color-gray300-hoover: 55 65 81;

    --color-gray200: 55 65 81;
    --color-gray200-inverted: 241 242 246;
    --color-gray200-hover: 241 242 246;

    --color-gray100: 55 65 95;
    --color-gray100-inverted: 218 221 228;
    --color-gray100-hoover: 55 65 95;

    /* Input */
    --color-input-gray: 55 65 81;

    /* Content */
    --color-content-black: 255 255 255;
    --color-content-black-inverted: 17 24 39;

    --color-content-gray: 209 213 219;
    --color-content-gray-inverted: 107 114 128;

    --color-content-3: 147 197 253;

    /* Accent */
    --color-accent-1: 107 43 217;

    --color-accent-2: 224 237 253;
    --color-accent-201: 99 102 241;
    --color-accent-210: 99 102 241;

    --color-accent-300: 224 231 255;
    --color-accent-301: 224 231 255;
    --color-accent-310: 79 70 229;

    --color-border-1: 75 85 99;
  }
}

/* Josh Comeau custom css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Skeletom Loader Pulse Animation */
.pulse {
  background: linear-gradient(-90deg, #efefef 0%, #cccccc 50%, #efefef 100%);
  background-size: 400% 400%;
  animation: pulse 2.3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}

/* Height Auto div */
.height-auto {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in;
}

.height-auto > span {
  overflow: hidden;
}

.height-auto.active {
  grid-template-rows: 1fr;
}

.height-auto.active > span {
  overflow: auto;
}

.height-auto[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

/* CUSTOM SCROLLBARS */

.scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

/* thin scrollbar */
/* For WebKit-based Browsers (Chrome, Safari) */
.small-thumb-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 20px;
  border-radius: 10px;
  background: rgb(188, 188, 188);
}

.small-thumb-scrollbar::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* For Firefox */
.small-thumb-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: gray rgb(212, 212, 212);
}

.small-thumb-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.small-thumb-scrollbar::-webkit-scrollbar-track {
  background-color: rgb(212, 212, 212);
}

/* hide searchSuggestion */
.searchSuggestion {
  display: block;
  opacity: 1;
}

.search-hidden {
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

/* Input Error */
/* Same implementation as height-auto class */
.input-error {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in;
}

.input-error > span {
  overflow: hidden;
}

input:invalid[focused="true"] ~ .input-error {
  grid-template-rows: 1fr;
}
