@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --white: 255 255 255;
    --black: 00 00 00;

    --gray-50: 249 250 251;
    --gray-100: 243 244 246;
    --gray-200: 229 231 235;
    --gray-300: 209 213 219;
    --gray-400: 156 163 175;
    --gray-500: 107 114 128;
    --gray-600: 75 85 99;
    --gray-700: 55 65 81;
    --gray-800: 31 41 55;
    --gray-900: 17 24 39;

    --indigo-100: 224 231 255;
    --indigo-200: 199 210 254;
    --indigo-400: 129 140 248;
    --indigo-500: 99 102 241;
    --indigo-600: 79 70 229;
    --indigo-700: 67 56 202;

    --blue-200: 191 219 254;
    --blue-300: 147 197 253;
    --blue-400: 96 165 250;
    --accent-blue500: 59 130 246;
    --blue-600: 37 99 235;
    --blue-700: 29 78 216;

    --slate-300: 203 213 225;
    --slate-400: 148 163 184;
    --slate-500: 100 116 139;
    --slate-800: 30 41 59;

    --flowbite-gray-100: 241 242 246;

    --custom-gray-100: 218 221 228;
    --custom-gray-500: 55 65 95;

    --lightBlue-100: 224 237 253;

    /* background */

    --color-white: var(--white); /* to gray-900 */
    --color-white-inverted: var(--gray-900); /* to white*/

    --gray-stable: var(--gray-500);

    --color-gray-50: var(--gray-50);
    --color-gray-50-inverted: var(--gray-800);

    --color-gray100: var(--gray-50); /* custom-gray-500 */
    --color-gray100-inverted: var(--custom-gray-500); /* custom-gray-100 */

    --color-gray200: var(--flowbite-gray-100); /* to gray-700*/
    --color-gray200-inverted: var(--gray-700); /* to flowbite-gray-100 */

    --color-gray300: var(--gray-100); /* to gray-800 */
    --color-gray300-inverted: var(--gray-800); /* to gray-50 */
    --color-gray300-hoover: var(--gray-200); /* to gray-700 */

    --color-slate300: var(--slate-300);

    /* input */
    --color-input-gray: var(--gray-100); /* gray-700 */

    /* Content/text */
    --color-content-black: var(--gray-900); /* to white */
    --color-content-black-inverted: var(--white); /* gray-900 */

    --color-content-black-stable: var(--gray-900); /* to gray-900 */
    --color-content-white-stable: var(--white); /* white to white */

    --color-content-gray: var(--gray-700); /* to gray-300*/
    --color-content-gray-inverted: var(--gray-300); /* to gray-500*/

    --color-content-slate-500: var(--slate-500);

    /* Accent */
    --color-accent-lightIndigo: var(--indigo-100); /* indigo-200 */
    --color-accent-lightIndigo_hoover: var(--indigo-200); /* to indigo-400 */

    --color-accent-accent-blue500: var(--accent-blue500);
    --color-accent-blue-600: var(--blue-600);
    --color-accent-blue-700: var(--blue-700);

    --color-accent-1: var(--lightBlue-100); /*  to indigo */

    --color-accent-2: var(--indigo-500); /* indigo-500 to indigo-700 */
    --color-accent-201: var(--lightBlue-100);

    --color-accent-300: var(--indigo-700); /* to indigo-100 */
    --color-accent-310: var(--indigo-100); /*  to indigo-700 */

    /* Border */
    --color-border-1: var(--gray-300);
  }

  [data-theme="dark"] {
    /* background */
    --color-white: var(--gray-900);
    --color-white-inverted: var(--white);

    --color-gray-50: var(--gray-800);
    --color-gray-50-inverted: var(--gray-50);

    --color-gray100: var(--custom-gray-500);
    --color-gray100-inverted: var(--custom-gray-100);

    --color-gray200: var(--gray-700);
    --color-gray200-inverted: var(--flowbite-gray-100);

    --color-gray300: var(--gray-800);
    --color-gray300-inverted: var(--gray-50);
    --color-gray300-hoover: var(--gray-700);

    /* Input */
    --color-input-gray: var(--gray-700);

    /* Content */
    --color-content-black: var(--white);
    --color-content-black-inverted: var(--gray-900);

    --color-content-gray: var(--gray-300);
    --color-content-gray-inverted: var(--gray-500);

    --color-content-3: 147 197 253;

    --color-content-slate-500: var(--slate-400);

    /* Accent */
    --color-accent-lightIndigo: var(--indigo-200);
    --color-accent-lightIndigo_hoover: var(--indigo-400);

    --color-accent-accent-blue500: var(--blue-400);
    --color-accent-blue-600: var(--blue-300);
    --color-accent-blue-700: var(--blue-200);

    --color-accent-1: 107 43 217;

    --color-accent-2: var(--lightBlue-100);
    --color-accent-201: var(--indigo-500);
    --color-accent-210: var(--indigo-500);

    --color-accent-300: var(--indigo-100);
    --color-accent-310: var(--indigo-600);

    /* Border */
    --color-border-1: var(--gray-700);
  }
}

/* Josh Comeau custom css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* html {
  scroll-behavior: smooth;
} */

/* Skeletom Loader Pulse Animation */
/* .pulse {
  background: linear-gradient(-90deg, #efefef 0%, #797979 50%, #efefef 100%);
  background-size: 400% 400%;
  animation: pulse 2.3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
} */

/* Height Auto div */
.height-auto {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in;
}

.height-auto > span {
  overflow: hidden;
}

.height-auto.active {
  grid-template-rows: 1fr;
}

.height-auto.active > span {
  overflow: auto;
}

.height-auto[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

/* CUSTOM SCROLLBARS */

.scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

/* thin scrollbar */
/* For WebKit-based Browsers (Chrome, Safari) */
.small-thumb-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 20px;
  border-radius: 10px;
  background: rgb(188, 188, 188);
}

.small-thumb-scrollbar::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* For Firefox */
.small-thumb-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: gray rgb(212, 212, 212);
}

.small-thumb-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.small-thumb-scrollbar::-webkit-scrollbar-track {
  background-color: rgb(212, 212, 212);
}

/* hide searchSuggestion */
.searchSuggestion {
  display: block;
  opacity: 1;
}

.search-hidden {
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

/* Input Error */
/* Same implementation as height-auto class */
.input-error {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in;
}

.input-error > span {
  overflow: hidden;
}

input:invalid[focused="true"] ~ .input-error {
  grid-template-rows: 1fr;
}
