@import url("https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Josh Comeau custom css reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* Skeletom Loader Pulse Animation */
.pulse {
  background: linear-gradient(-90deg, #efefef 0%, #cccccc 50%, #efefef 100%);
  background-size: 400% 400%;
  animation: pulse 2.3s ease-in-out infinite;
}

@keyframes pulse {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: -135% 0%;
  }
}

/* Height Auto div */
.height-auto {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in;
}

.height-auto > span {
  overflow: hidden;
}

.height-auto.active {
  grid-template-rows: 1fr;
}

.height-auto.active > span {
  overflow: auto;
}

.height-auto[aria-hidden="false"] {
  grid-template-rows: 1fr;
}

/* CUSTOM SCROLLBARS */

.scrollbar-gutter-stable {
  scrollbar-gutter: stable;
}

/* thin scrollbar */
/* For WebKit-based Browsers (Chrome, Safari) */
.small-thumb-scrollbar::-webkit-scrollbar {
  width: 8px;
  height: 20px;
  border-radius: 10px;
  background: rgb(188, 188, 188);
}

.small-thumb-scrollbar::-webkit-scrollbar-thumb {
  background: gray;
  border-radius: 10px;
}

/* For Firefox */
.small-thumb-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: gray rgb(212, 212, 212);
}

.small-thumb-scrollbar::-webkit-scrollbar-thumb {
  background-color: gray;
  border-radius: 10px;
}

.small-thumb-scrollbar::-webkit-scrollbar-track {
  background-color: rgb(212, 212, 212);
}

/* hide searchSuggestion */
.searchSuggestion {
  display: block;
  opacity: 1;
}

.search-hidden {
  display: block;
  opacity: 0;
  pointer-events: none;
  transition: opacity 1s ease-in-out;
}

/* Input Error */
/* Same implementation as height-auto class */
.input-error {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows 300ms ease-in;
}

.input-error > span {
  overflow: hidden;
}

input:invalid[focused="true"] ~ .input-error {
  grid-template-rows: 1fr;
}
